<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Bookings</title>
</head>
<body>
<div style="text-align:center"><h4>Event Details</h4><br></div>
<div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="table-responsive pt-3">
                  <table class="table table-striped project-orders-table">
                    <thead>
                      <tr>
                          <th>Name</th>
                        <th>Place</th>
                        <th>Event</th>
                        <th>Palaces</th>
                        <th>Contact</th>
                        <th>Date</th>
                        <th>Email</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          {% for i in data %}
                          <td>{{i.Name}}</td>
                        <td>{{i.Country}}</td>
                        <td>{{i.Events}}</td>
                        <td>{{i.Palace}}</td>
                        <td>{{i.Contact}}</td>
                        <td>{{i.Date}}</td>
                        <td>{{i.Email}}</td>
                          <td>
                              <form action="{% url 'bookingdelete' dataid=i.id %}">
                                <div class="d-flex align-items-center">
                            <button type="submit" class="btn btn-danger btn-sm btn-icon-text">
                              Delete
                              <i class="typcn typcn-delete-outline btn-icon-append"></i>
                            </button>
                          </div>
                              </form>
                          </td>
                      </tr>
                    {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
<br>

</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
  swal('{{i}}','','warning')
</script>
{% elif i.tags == 'error' %}
<script>
  swal('{{i}}','','error')
</script>
{% elif i.tags == 'success' %}
<script>
  swal('{{i}}','','success')
</script>
{% else %}
<script>
  swal('{{i}}','','info')
</script>
{% endif %}
{% endfor %}
{% endif %}
</html>
{% endblock %}