<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="{% url 'updateevent' dataid=edit.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
           <div class="card-body">
           <div class="card-title">Add Events</div>
           <hr>
           <div class="form-group">
            <label >Name</label>
            <input type="text" class="form-control "  placeholder="Event Name" name="ename" value="{{edit.Eventname}}">
           </div>
                    <div class="form-group">
                      <label>Event Images</label>
<!--                      <input type="file" name="img[]" class="file-upload-default">-->
                      <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg">
                          <img src="{{edit.image.url}}" height="100px" width="100px">
                      </div>
                        <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg1">
                            <img src="{{edit.image1.url}}" height="100px" width="100px">
                      </div>
                        <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg2">
                            <img src="{{edit.image2.url}}" height="100px" width="100px">
                      </div>
                        <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg3">
                            <img src="{{edit.image3.url}}" height="100px" width="100px">
                      </div>
                        <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg4">
                      <img src="{{edit.image4.url}}" height="100px" width="100px">
                        </div>
                        <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg5">
                      <img src="{{edit.image5.url}}" height="100px" width="100px">
                        </div>
                        <div class="input-group col-xs-12">
                        <input type="file" class="form-control file-upload-info " placeholder="Event Image" name="eimg6">
                      <img src="{{edit.image6.url}}" height="100px" width="100px">
                        </div>
                    </div>

            <button type="submit" class="btn btn-primary mr-2"><i class="icon-lock"></i>Submit</button>
                 <button class="btn btn-light">Cancel</button>
          </div>
         </div>
         </div>
</form>
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
  swal('{{i}}','','warning')
</script>
{% elif i.tags == 'error' %}
<script>
  swal('{{i}}','','error')
</script>
{% elif i.tags == 'success' %}
<script>
  swal('{{i}}','','success')
</script>
{% else %}
<script>
  swal('{{i}}','','info')
</script>
{% endif %}
{% endfor %}
{% endif %}
</html>
{% endblock %}